/* /* ตัวแม่ของการ์ดทั้งหมด */
.contentGrid {
  display: grid; /*การปรับตามgrid*/
  grid-template-columns: repeat(3,1fr);  /* 3 ช่องเท่ากัน */
  gap: 30px; /* ระยะห่างระหว่างการ์ด */
  margin-top: 25px; /* ห่างจาก select ด้านบน */
  border: 1px solid red;
 
}

/* การ์ดแต่ละใบ */
.contentPage {
  background: #ffc3c3;
  border-radius: 12px;
  padding: 10px 14px;
  margin: 0px;
  border: 1px solid #000000;
  width: 380px;               /* ให้การ์ดกว้างเต็มช่อง grid */
  height: 330px;             /* ถ้าจะให้สูงเท่ากันคงไว้ได้ */
  /* ถ้ามี width เดิมเช่น width: 800px; ให้ลบออก ไม่งั้น grid จัดไม่สวย */
}











/* ทำให้ responsive หน้าจอเล็ก */
/* @media (max-width: 1200px) {
  .contentGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .contentGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .contentGrid {
    grid-template-columns: 1fr;
  }
} */
