.contentPage {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(201, 215, 233);
    width: 450px;
    height: 250px;
    align-items: center;
    
}



.contentPage {
  background-color: #dbe7ff;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 1rem auto;
  width: 80%;                
  max-width: 700px;           
  text-align: left;           
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}


#province-select {
  display: block;
  margin: 1rem auto 2rem auto;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
} 
