/* หน้าเว็บหลัก */
html, body {
  margin: 0;
  padding: 0;
  width: 100%; 
  overflow-x: hidden; 
  background-color: #ffffff;
}

/* NAVBAR ด้านบน */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;           /* ความสูงให้โลโก้ + ปุ่ม */
  padding: 0 24px;
  background-color: #0072BC;
  z-index: 1000;
  align-items: center;     
}

/* กล่องเมนูบนขวา */
.box3 {
  padding: 0.7rem;
  margin: 0.5rem;
}

.box3 ul {
  display: flex;
  align-items: center;      
  padding:0px ;

}

.box3 ul li {
  display: flex;
  margin: 0 20px;               /* เอาmargin บน–ล่าง ออก*/
  padding: 10px 20px;
  border-radius: 20px;
  background-color:#004878;
}
.box3 ul li a{
  color:#ffffff
}


/* sidebrar ซ้าย */
.leftbar {
  position: fixed;
  top: 80px;         
  left: 0;
  width: 15vw;
  min-width: 190px;     
  bottom: 0;
  padding: 30px 20px;
  background-color: #0072BC;
  overflow-y: auto;      
}

.leftbar ul li {
  padding: 8px;
  margin: 10px;
  border-radius: 16px;
  background-color:  #004878;
  text-align: center;
}
.leftbar ul li:hover {
  background: #003050;
}

.leftbar ul li a {
  display: block;
  margin: 2px;
  color: #ffffff;
  font-size: 15px;
}

/* เนื้อหา main ด้านขวา */
.content {
  margin-top: 100px;                  
  margin-left: max(10vw,80px);         
  min-height: calc(100vh - 80px);     
}
