/* หน้าเว็บหลัก */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;     /* กันสกอลบาร์แนวนอน */
}

/* ===== NAVBAR ด้านบน ===== */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;                 /* เผื่อความสูงให้โลโก้ + ปุ่ม */
  background-color: #ffffff;
  border-bottom: 1px solid rgb(239, 239, 239);
  z-index: 1000;
  display: flex;
  align-items: center;          /* จัดให้อยู่กลางแนวตั้ง */
}

/* กล่องเมนูบนขวา */
.box3 {
  padding: 0.7rem;
  margin: 0.5rem;
}

.box3 ul {
  display: flex;
  align-items: center;          /* เมนูใน ul อยู่กลางแนวตั้ง */
  margin: 0;
  padding: 0;
}

.box3 ul li {
  display: flex;
  margin: 0 16px;               /* เอา margin บน–ล่างออก เหลือแค่ซ้าย–ขวา */
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #001b4d;
}


/* ===== SIDEBAR ซ้าย ===== */
.leftbar {
  position: fixed;
  top: 80px;              /* อยู่ใต้ navbar */
  left: 0;
  width: 15vw;
  min-width: 190px;       /* กันไม่ให้แคบเกินไปบนจอใหญ่ */
  bottom: 0;
  padding: 30px 20px;
  background-color: #ffffff;
  border-right: 1px solid rgb(239, 239, 239);
  overflow-y: auto;       /* ถ้าปุ่มเยอะให้เลื่อนเฉพาะ sidebar */
}

.leftbar ul li {
  padding: 10px;
  margin: 20px;
  border-radius: 16px;
  background-color: #dbf0ff;
  text-align: center;
}

.leftbar ul li a {
  display: block;
  margin: 2px;
}

/* ===== พื้นที่เนื้อหา MAIN ด้านขวา ===== */
.content {
  position: relative;
  margin-top: 90px;                    /* เว้นที่ให้ navbar */
  margin-left: max(5vw,110px);         /* เว้นที่ให้ sidebar (ตาม width ด้านบน) */
  padding: 10px 20px;  /*ความห่าง บน ล่าง นอกนะ */
  min-height: calc(100vh - 80px);      /* สูงอย่างน้อยเต็มจอใต้ navbar */
  background-color: #ffffff;
  /* overflow-y: auto;                   เลื่อนเฉพาะคอนเทน */
  border: 1px solid red;                /* เลื่อนเฉพาะส่วน content */
}

/* ===== GRID ของการ์ดน้ำท่วม/ไฟป่า ===== */
/* .contentGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));  
  gap: 10px;                                       
  margin-top: 25px;
} */

/* .contentPage {
  background: #ffffff;
  border-radius: 12px;
  padding: 10px 14px;
  border: 1px solid #000000;
  width: 100%;           
  height: 350px;           
  box-sizing: border-box;
} */

/* จอเล็ก – ลดจำนวนคอลัมน์ให้อัตโนมัติ */
/* @media (max-width: 1200px) {
  .contentGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 800px) {
  .contentGrid {
    grid-template-columns: 1fr;
  } */

  /* ถ้าจอเล็กมากจะให้ sidebar หดหรือเป็นด้านบนก็ได้ต่อยอดทีหลัง */

