ิ.body{
  background-color: brown;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
}
.navbar {
  display: flex;
  flex-direction: row; /* อยู่ในเเนวนอน */
  justify-content: space-between; 
  top:0;
  width: 100%;
  z-index: index 1000;
  position: fixed;
  padding: 1rem;   /* กรอบนอก */
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  background: #f6faff;
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); */
  border: 1px solid rgb(223, 223, 223);

}
.Box1{
    padding: 1rem;
    margin: 0.5rem;
}
.Box3 ul {
    display: flex ;
    padding: 1rem;
    margin: 1rem;
    justify-content: space-between;  
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
}
.link1 a {
    color:rgb(0, 0, 0);
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #ffffff;
    border-radius: 15px;
}
.box1 {
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
}

/* .link2 a {
    color:rgb(0, 0, 0);
    padding: 0.5rem;
    margin: 0.5rem;
    background-color:  #a1deff;
    border-radius: 15px;
}
.link3 a {
    color:rgb(0, 0, 0);
    padding: 0.5rem;
    margin: 0.5rem;
    background-color:  #a1deff;
    border-radius: 15px;
} */
