html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.navbar{
    width: 100vw;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(239, 239, 239);
    /* box-shadow:5px 5px 5px #eeeeee; */
}
.box1{
    /* border: 1px solid red; */
    padding: 0.7rem;
    margin:0.5rem;
}
.box2{
    /* border: 1px solid red; */
    padding: 0.7rem;
    margin:0.5rem;
}

.box3{
    /* border: 1px solid red; */
    padding: 0.7rem;
    margin:0.5rem;
}
.box3 ul{
     display: flex ;
}
.box3 ul li{
     margin: 10px 20px 15px 25px;   /*note บน ขวา ล่าง ซ้ายตามเข็มนาฬิกา */
     padding: 10px 15px;
     border-radius: 15px;
     background-color: #dbf0ff;
     
}
.leftbar{
    height: 100vh;
    width: 12vw;
    padding: 30px 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(239, 239, 239);

}
.leftbar  ul li{
    /* border:1px solid red; */
    padding: 10px 10px;
    margin: 20px 10px 10px 20px; 
    border-radius: 16px;
    background-color:#dbf0ff ;
}

.content{
    width: 100vw;
    height: 100vh;
    background-color: black;
}