body {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  /* overflow: scroll; */
} 
.containerXL {
  font-family: "Segoe UI", sans-serif;
  background-color: #f9f9f9;
  min-height: 100vh; 
  width: 100vw;        
  display: flex;
  flex-direction: column; 
  margin: 0;
  padding: 0;
}

.header {
  background: #0077b6;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;      
}

.header nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

.header nav a:hover {
  text-decoration: underline;
}


.content {
  flex: 1;
  padding: 2rem;
  width: 100%; 
  display: block;
    
}

.footer {
  background: #023e8a;
  color: white;
  text-align: center;
  padding: 0.5rem;
}
