/* หน้าเว็บหลัก */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;/* height: 100%; */
  overflow-x: hidden; /* กันสกอลบาร์แนวนอน */
  background-color: #ffffff;
}

/* ===== NAVBAR ด้านบน ===== */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;                 /* เผื่อความสูงให้โลโก้ + ปุ่ม */
  padding: 0 24px;
  background-color: #0072BC;
  /* border-bottom: 2px solid  #036aae; */
  z-index: 1000;
  align-items: center;          /* จัดให้อยู่กลางแนวตั้ง */
}

/* กล่องเมนูบนขวา */
.box3 {
  padding: 0.7rem;
  margin: 0.5rem;
}

.box3 ul {
  display: flex;
  align-items: center;          /* เมนูใน ul อยู่กลางแนวตั้ง */
  margin: 0;
  padding: 0;
}

.box3 ul li {
  display: flex;
  margin: 0 16px;               /* เอา margin บน–ล่างออก เหลือแค่ซ้าย–ขวา */
  padding: 10px 20px;
  border-radius: 20px;
  background-color:#004878;
}
.box3 ul li a{
  color:#ffffff
}


/* ===== SIDEBAR ซ้าย ===== */
.leftbar {
  position: fixed;
  top: 80px;              /* อยู่ใต้ navbar */
  left: 0;
  width: 15vw;
  min-width: 190px;       /* กันไม่ให้แคบเกินไปบนจอใหญ่ */
  bottom: 0;
  padding: 30px 20px;
  background-color: #0072BC;
  /* border-right: 1px solid #c6c6c6; */
  overflow-y: auto;       /* ถ้าปุ่มเยอะให้เลื่อนเฉพาะ sidebar */
}

.leftbar ul li {
  padding: 10px;
  margin: 20px;
  border-radius: 16px;
  background-color:  #005a9587;
  text-align: center;
  
}

.leftbar ul li a {
  display: block;
  margin: 2px;
  color: #ffffff;
}

/* ===== พื้นที่เนื้อหา MAIN ด้านขวา ===== */
.content {
  /* position: relative; */
  margin-top: 100px;                    /* เว้นที่ให้ navbar เ้ววว */
  margin-left: max(10vw,80px);         /* เว้นที่ให้ sidebar (ตาม width ด้านบน) */
  padding: 10px 50px;  /*ความห่าง บน ล่าง นอกนะ */
  min-height: calc(100vh - 80px);      /* สูงอย่างน้อยเต็มจอใต้ navbar */
  /* background-color: #8b0000 */
   /* overflow-y: auto;                  */
}
